@model Boardgamesleeves.Models.Vare

@{
    ViewBag.Title = "Slet vare";
}

<div class="formgroup">
    <h3>Er du sikker på, at du ville slette denne vare?</h3>
    <dl class="dl">
        <dt>
            @Html.DisplayNameFor(model => model.Vareid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vareid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stoerrelse.StoerrelsesType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stoerrelse.StoerrelsesType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Oprettelsesdato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Oprettelsesdato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pris)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pris)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kategori)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategori)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Beskrivelse)
        </dt>

        <dd>
            @if (string.IsNullOrEmpty(Model.Beskrivelse))
            {
                <p>Ingen beskrivelse</p>
            }
            else
            {
              @Html.DisplayFor(model => model.Beskrivelse) 
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Billedsti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Billedsti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LagerAntal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LagerAntal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STK)
        </dd>

    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="bundlinks">
            @Html.ActionLink("Til oversigten", "Index", null, new { @class = "knap" })
            <input type="submit" value="Slet" class="knap" />
        </div>
    }
</div>
